
{{#each art}}
 <article class="popover" id="layoutPort">
      <span class="close cursor">&times;</span>
      <div id="items">
      <img src="images/{{ Image }}" class="workImage" id="portImage">
      <p class="title"> {{ Title }}</p>
      <p class="description"> {{ Description }}</p>
      <p class="madeWith">{{ Madewith }}</p>
      <a href="https://www.youtube.com/channel/UCdqrhIYw9gPv6ygbi51lSlw?view_as=subscriber" class="link">{{ links }}</a>
    </div>
    </article>

    {{/each}}

      <div id="works">
      

  <div id="illustrations">
          <h2 id="illTitle">Illustrations</h2>
         
          <div id="lips">
            <h3 class="workText">Mwah</h3>
              <img id="gifProject" class="showit" src="images/gif_project.gif" width="500" height="260" data-target="1">
          </div>

          <div id="wine">
              <h3 class="workText">Sippity Drinkity</h3>
              <img id="sip" class="showit" src="images/sippity_drinkity.jpg" width="500" height="638" data-target="2" >
          </div>

           <div id="space">
              <h3 class="workText">Eyefall</h3>
              <img id="eyeball" class="showit" src="images/eyeball.jpg" width="500" height="649" data-target="3">
          </div>
      </div>

      <div id="videoWork">

        <h2 id="vidTitle">Videos</h2>

        <div id="matchstick">
            <h3 class="workText">Matchstick</h3>
            <img id="match" class="showit" src="images/matchstick_project.png"  width="505" height="280" data-target="4">
        </div>

        <div id="sportsnet">
            <h3 class="workText">Sportsnet Intro</h3>
            <img id="nfl" class="showit" src="images/sportsnet_project.png"  width="505" height="280" data-target="5">
        </div>

        <div id="organ">
            <h3 class="workText">Reorganize</h3>
            <img id="reorganize" class="showit" src="images/organ_project.png"  width="505" height="280" data-target="6">
        </div>
      </div>

      <div id="graphicWork">

        <h2 id="graphTitle">Graphic Design</h2>

        <div id="orbit">
            <h3 class="workText">Orbit</h3>
            <img id="ophone" class="showit" src="images/orbit.png"  width="505" height="380" data-target="7">
        </div>

        <div id="arbora">
            <h3 class="workText">Arbora</h3>
            <img id="freestand" class="showit" src="images/arbora.jpg"  width="505" height="300" data-target="8">
        </div>

        <div id="tempus">
            <h3 class="workText">Tempus</h3>
            <img id="bluetooth" class="showit" src="images/tempus.png"  width="505" height="500" data-target="9">
        </div>
      </div>
    </div>